#canvas {
    display: none;
}

#cameraPlace {
    position: relative;
    background-color: gray;
}

.filterPreview {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}