html, body, header, ul, nav a, h1 {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans';
}

h1 {
    font-size: 30px;
    font-family: Handlee;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    line-height: 30px;
}

a {
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}



#siteTitle {
    justify-self: flex-start;
    margin-right: auto;
}

footer {
    text-align: right;
    font-size: 10px;
    padding: 10px;
}

main {
    flex : 1;
}


/**** Colors ****/

header {
    background-color: #07889b;
}

footer {
    background-color: #66b9bf;
}

header, footer, a {
    color: whitesmoke;
}

a:hover {
    background-color: #155869;
}