html, body, header, ul, nav a, h1 {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans';
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    line-height: 30px;
}

h1 {
    font-size: 30px;
    font-family: Handlee;
}

footer {
    text-align: right;
    font-size: 10px;
    padding: 10px;
}

main {
    flex : 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}

#siteTitle {
    justify-self: flex-start;
    margin-right: auto;
}

form {
    min-width: 20vw;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

input.submit {
    width: 50px;
    height: 50px;
}

/*********** Colors ***********/

header {
    background-color: #07889b;
}

footer {
    background-color: #66b9bf;
}

header, footer, a {
    color: whitesmoke;
}

a:hover {
    background-color: #155869;
}

form {
    background-color: #e37222;
    color: blanchedalmond;
}